<a href="https://colab.research.google.com/github/aswathy-ajith/MachineLearning/blob/master/pandas_assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [0]:
d=pd.Series([1,2,3],index=['a',2,'c'])

In [3]:
print(d)

a    1
2    2
c    3
dtype: int64

In [4]:
print(d.iloc[2])

3

In [5]:
print(d.loc[2])

2

In [6]:
d.loc['a']

1

In [0]:
n=pd.Series(np.array([10,20,30]))

In [8]:
n

0    10
1    20
2    30
dtype: int64

In [9]:

from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
data=pd.read_csv('/content/drive/My Drive/Indian Liver Patient Dataset.csv')

In [19]:
data

     age  gender  tot_bilirubin  ...  sgot  alkphos  is_patient
0     65  Female            0.7  ...   3.3     0.90           1
1     62    Male           10.9  ...   3.2     0.74           1
2     62    Male            7.3  ...   3.3     0.89           1
3     58    Male            1.0  ...   3.4     1.00           1
4     72    Male            3.9  ...   2.4     0.40           1
..   ...     ...            ...  ...   ...      ...         ...
578   60    Male            0.5  ...   1.6     0.37           2
579   40    Male            0.6  ...   3.2     1.10           1
580   52    Male            0.8  ...   3.2     1.00           1
581   31    Male            1.3  ...   3.4     1.00           1
582   38    Male            1.0  ...   4.4     1.50           2

[583 rows x 11 columns]

In [20]:
data.head(5)

   age  gender  tot_bilirubin  ...  sgot  alkphos  is_patient
0   65  Female            0.7  ...   3.3     0.90           1
1   62    Male           10.9  ...   3.2     0.74           1
2   62    Male            7.3  ...   3.3     0.89           1
3   58    Male            1.0  ...   3.4     1.00           1
4   72    Male            3.9  ...   2.4     0.40           1

[5 rows x 11 columns]

In [21]:
data.tail(5)

     age gender  tot_bilirubin  ...  sgot  alkphos  is_patient
578   60   Male            0.5  ...   1.6     0.37           2
579   40   Male            0.6  ...   3.2     1.10           1
580   52   Male            0.8  ...   3.2     1.00           1
581   31   Male            1.3  ...   3.4     1.00           1
582   38   Male            1.0  ...   4.4     1.50           2

[5 rows x 11 columns]

In [22]:
data.shape

(583, 11)

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 583 entries, 0 to 582
Data columns (total 11 columns):
age                 583 non-null int64
gender              583 non-null object
tot_bilirubin       583 non-null float64
direct_bilirubin    583 non-null float64
tot_proteins        583 non-null int64
albumin             583 non-null int64
ag_ratio            583 non-null int64
sgpt                583 non-null float64
sgot                583 non-null float64
alkphos             579 non-null float64
is_patient          583 non-null int64
dtypes: float64(5), int64(5), object(1)
memory usage: 50.2+ KB

In [24]:
data.describe

<bound method NDFrame.describe of      age  gender  tot_bilirubin  ...  sgot  alkphos  is_patient
0     65  Female            0.7  ...   3.3     0.90           1
1     62    Male           10.9  ...   3.2     0.74           1
2     62    Male            7.3  ...   3.3     0.89           1
3     58    Male            1.0  ...   3.4     1.00           1
4     72    Male            3.9  ...   2.4     0.40           1
..   ...     ...            ...  ...   ...      ...         ...
578   60    Male            0.5  ...   1.6     0.37           2
579   40    Male            0.6  ...   3.2     1.10           1
580   52    Male            0.8  ...   3.2     1.00           1
581   31    Male            1.3  ...   3.4     1.00           1
582   38    Male            1.0  ...   4.4     1.50           2

[583 rows x 11 columns]>

In [25]:
data.dtypes

age                   int64
gender               object
tot_bilirubin       float64
direct_bilirubin    float64
tot_proteins          int64
albumin               int64
ag_ratio              int64
sgpt                float64
sgot                float64
alkphos             float64
is_patient            int64
dtype: object

In [26]:
data.isnull

<bound method DataFrame.isnull of      age  gender  tot_bilirubin  ...  sgot  alkphos  is_patient
0     65  Female            0.7  ...   3.3     0.90           1
1     62    Male           10.9  ...   3.2     0.74           1
2     62    Male            7.3  ...   3.3     0.89           1
3     58    Male            1.0  ...   3.4     1.00           1
4     72    Male            3.9  ...   2.4     0.40           1
..   ...     ...            ...  ...   ...      ...         ...
578   60    Male            0.5  ...   1.6     0.37           2
579   40    Male            0.6  ...   3.2     1.10           1
580   52    Male            0.8  ...   3.2     1.00           1
581   31    Male            1.3  ...   3.4     1.00           1
582   38    Male            1.0  ...   4.4     1.50           2

[583 rows x 11 columns]>

In [27]:
data.isnull().values.any()

True

In [28]:
data.isnull().values.sum()

4

In [29]:

data.fillna

<bound method DataFrame.fillna of      age  gender  tot_bilirubin  ...  sgot  alkphos  is_patient
0     65  Female            0.7  ...   3.3     0.90           1
1     62    Male           10.9  ...   3.2     0.74           1
2     62    Male            7.3  ...   3.3     0.89           1
3     58    Male            1.0  ...   3.4     1.00           1
4     72    Male            3.9  ...   2.4     0.40           1
..   ...     ...            ...  ...   ...      ...         ...
578   60    Male            0.5  ...   1.6     0.37           2
579   40    Male            0.6  ...   3.2     1.10           1
580   52    Male            0.8  ...   3.2     1.00           1
581   31    Male            1.3  ...   3.4     1.00           1
582   38    Male            1.0  ...   4.4     1.50           2

[583 rows x 11 columns]>

In [30]:
data.fillna(method='pad')

     age  gender  tot_bilirubin  ...  sgot  alkphos  is_patient
0     65  Female            0.7  ...   3.3     0.90           1
1     62    Male           10.9  ...   3.2     0.74           1
2     62    Male            7.3  ...   3.3     0.89           1
3     58    Male            1.0  ...   3.4     1.00           1
4     72    Male            3.9  ...   2.4     0.40           1
..   ...     ...            ...  ...   ...      ...         ...
578   60    Male            0.5  ...   1.6     0.37           2
579   40    Male            0.6  ...   3.2     1.10           1
580   52    Male            0.8  ...   3.2     1.00           1
581   31    Male            1.3  ...   3.4     1.00           1
582   38    Male            1.0  ...   4.4     1.50           2

[583 rows x 11 columns]

In [31]:
data.fillna(method='bfill')

     age  gender  tot_bilirubin  ...  sgot  alkphos  is_patient
0     65  Female            0.7  ...   3.3     0.90           1
1     62    Male           10.9  ...   3.2     0.74           1
2     62    Male            7.3  ...   3.3     0.89           1
3     58    Male            1.0  ...   3.4     1.00           1
4     72    Male            3.9  ...   2.4     0.40           1
..   ...     ...            ...  ...   ...      ...         ...
578   60    Male            0.5  ...   1.6     0.37           2
579   40    Male            0.6  ...   3.2     1.10           1
580   52    Male            0.8  ...   3.2     1.00           1
581   31    Male            1.3  ...   3.4     1.00           1
582   38    Male            1.0  ...   4.4     1.50           2

[583 rows x 11 columns]

In [0]:
data.fillna(data.mean(),inplace=True)

In [33]:
dict={'first score':[100,90,np.nan,76],'sec':[1,2,3,4]}
d=pd.DataFrame(dict)
d

   first score  sec
0        100.0    1
1         90.0    2
2          NaN    3
3         76.0    4

In [34]:
d.replace(to_replace=np.NaN,value=0)

   first score  sec
0        100.0    1
1         90.0    2
2          0.0    3
3         76.0    4

In [35]:
d.dropna(how='any')

   first score  sec
0        100.0    1
1         90.0    2
3         76.0    4

In [36]:
data.columns

Index(['age', 'gender', 'tot_bilirubin', 'direct_bilirubin', 'tot_proteins',
       'albumin', 'ag_ratio', 'sgpt', 'sgot', 'alkphos', 'is_patient'],
      dtype='object')

In [37]:
data.empty

False

In [38]:
data.size

6413

In [0]:
from sklearn.preprocessing import LabelEncoder

In [0]:
lb=LabelEncoder()

In [41]:
data

     age  gender  tot_bilirubin  ...  sgot  alkphos  is_patient
0     65  Female            0.7  ...   3.3     0.90           1
1     62    Male           10.9  ...   3.2     0.74           1
2     62    Male            7.3  ...   3.3     0.89           1
3     58    Male            1.0  ...   3.4     1.00           1
4     72    Male            3.9  ...   2.4     0.40           1
..   ...     ...            ...  ...   ...      ...         ...
578   60    Male            0.5  ...   1.6     0.37           2
579   40    Male            0.6  ...   3.2     1.10           1
580   52    Male            0.8  ...   3.2     1.00           1
581   31    Male            1.3  ...   3.4     1.00           1
582   38    Male            1.0  ...   4.4     1.50           2

[583 rows x 11 columns]